body{
    font-family: 'Poppins', sans-serif;
}
nav ul{
    display: flex;
    justify-content: center;
    
}
nav li{
    list-style: none;
    margin: 20px;
    
}

nav li a{
    text-decoration: none;
    color: rgb(45, 51, 104);
    font-weight: bold;
    font-size: 20px;
    
    
}

nav li a:hover{
    color: rgb(55, 172, 226);
}

.backgroud-img{
     background-image: url(/images/d.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
.header-div{
    width: 200px;
    height: 4px;
    background-color: rgb(178, 201, 212);
}

